root = true

[*]
charset=utf-8
end_of_line=lf
indent_style=space
indent_size=4
insert_final_newline=true
max_line_length=120
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true

# 줄바꿈 관련 (IntelliJ 코드스타일 키)
ij_kotlin_method_parameters_wrap = split_into_lines
ij_kotlin_call_parameters_wrap = split_into_lines
ij_kotlin_method_parameters_new_line_after_left_paren = true
ij_kotlin_call_parameters_new_line_after_left_paren = true
ij_kotlin_method_parameters_right_paren_on_new_line = true
ij_kotlin_call_parameters_right_paren_on_new_line = true

# 콤마 허용(멀티라인에 유리)
ij_kotlin_allow_trailing_comma_on_call_site = true